Source: java
Section: java
Priority: extra
Maintainer: Ryan Stoner <rstoner99@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/java.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/java.git;a=summary

Package: java
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Oracle 1.7.0_04 JDK
 Oracle 1.7.0_04 JDK as a .deb package
